@media only screen and (max-width: 1607px){
    .navbar-collapse {
        margin-left: 43% !important;
    }
}
@media only screen and (max-width: 1400px){
    .navContent {
        padding-top: 20% !important;
    }
    .navbar-collapse {
        margin-left: 35% !important;
    }
    input {
        width: 60%;
    }
    textarea {
        width: 60%;
    }
}
@media only screen and (max-width: 1180px){
    .line {
        height: 2px;
        width: 147px;
        margin-top: 66px;
    }
    .line2 {
        height: 2px;
        width: 112px;
        margin-top: 39px;
    }
}
@media only screen and (max-width: 830px){
    .parentAbout2 {
        margin-right: 15%;
    }
    .line {
        width: 112px;
        margin-top: 37px;
    }
    .line2 {
        height: 2px;
        width: 124px;
        margin-top: 49px;
    }
}

@media only screen and (max-width: 830px){
    .div2 p {
        margin-left: 0px;
    }
    .line {
        width: 88px;
        margin-top: 10px;
    }
    .line2 {
        height: 2px;
        width: 80px;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 760px){
    .line {
        width: 88px;
        margin-top: 10px;
    }
    .line2 {
        height: 2px;
        width: 87px;
        margin-top: 20px;
    }
    .div3 p {
        font-size: 13px;
    }
    .div2 p {
        font-size: 13px;
        margin-left: 0px;
    }
    .parentAbout3 img {
        width: 140px;
    }
    .parentAbout2 img {
        width: 140px;
    }
}
@media only screen and (max-width: 690px){
    .div3 p {
        font-size: 11px;
    }
    .div2 p {
        font-size: 11px;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 645px){
    .parentAbout3 img {
        width: 150px;
    }
    .parentAbout2 img {
        width: 150px;
    }
    .parentAbout2 img {
        width: 150px;
    }
    .div2 p {
        font-size: 10px;
    }
    .div2 h3{
        font-size: 22px;
    }
    .div3 p {
        font-size: 10px;
    }
}
@media only screen and (max-width: 500px){
    .parentAbout3 img {
        width: 120px;
    }
    .parentAbout2 img {
        width: 120px;
    }
}
@media only screen and (max-width: 445px){
    .div2 h3 {
        font-size: 16px;
    }
    .line {
        width: 104px;
        margin-top: 44px;
    }
}
@media only screen and (max-width: 1300px){
    .portfolioDiv2 img {
        height: 250px;
    }
}
@media only screen and (max-width: 1040px){
    .portfolioDiv2 img {
        height: 210px;
    }
    .divPortfolio {
        background-color: rgba(60, 199, 143, 0.06);
        height: 1000px;
    }
    .modalParent3 {
        height: 650px;
        width: 800px;
        margin-top: 39% !important;
    }
}
@media only screen and (max-width: 880px){
    .portfolioDiv2 img {
        height: 180px;
    }
    .parnetTeam2 {
        display:  block;
    }
    .parentTeam {
        height: 1300px;
    }
}
@media only screen and (max-width: 750px){
    .imgDivs {
        /* height: 100px !important;
        margin-left: 135px !important;
        width: 63% !important; */
        background: transparent !important;
    }
    .portfolioDiv2 img {
        height: 316px;
        width: 62%;
        
    }
    .divPortfolio {
        background-color: rgba(60, 199, 143, 0.06);
        height: 2810px;
    }
    .portfolioDiv2{
        display: block !important;
        justify-content: space-around !important;

    }
    .parentTeam p {
        font-size: 13px !important; 
    }
}
@media only screen and (max-width: 600px){
    .parentAbout2 img {
        width: 120px;
    }
   .parentAbout3 img {
    width: 120px;
    }
    textarea {
        width: 100%;
    }
    input{
        width: 100%;
    }
}
@media only screen and (max-width: 560px){
    .parentAbout3 {
        margin-left: 0%;
    }
    .parentAbout2 {
        margin-right: 0%;
    }
    .div3 h3 {
        font-size: 18px;
    }
    .div2 h3 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 413px){
    .parentAbout3 img {
        width: 100px;
    }
    .parentAbout2 img {
        width: 100px;
    }
    .div3 h3 {
        font-size: 16px;
    }
    .div2 h3 {
        font-size: 16px;
    }
    .line2{
        width: 83px;
    }
}
@media only screen and (max-width: 940px){
    .modalParent{
        width: 740px !important;
        margin-top: 45% !important;
    }
    .modalParent2{
        width: 740px !important;
        margin-top: 45% !important;
    }
    .modalParent3{
        width: 740px !important;
        margin-top: 45% !important;
    }
    .modalParent4{
        width: 740px !important;
        margin-top: 45% !important;
    }
    .modalParent5{
        width: 740px !important;
        margin-top: 45% !important;
    }
    .modalParent6{
        width: 740px !important;
        margin-top: 45% !important;
    }
}

@media only screen and (max-width: 1170px){
    .navContent {
        padding-top: 25% !important;
    }
    .navbar-collapse {
        margin-left: 25% !important;
    }
}
@media only screen and (max-width: 1000px){
    .navbar-collapse {
        margin-left: 18% !important;
    }
    .navContent h1 {
        font-size: 50px;
    }
    .navContent h5 {
        font-size: 30px;
    }
    .navContent button {
        height: 60px;
        width: 150px;
    }
    input {
        width: 70%;
    }
    textarea {
        width: 70%;
    }
}
@media only screen and (max-width: 990px){
    .navContent {
        padding-top: 30% !important;
    }
    .navigationn{
        background-color: #212529 !important;
        margin-top: 0 !important;
    }
    .navbar-collapse {
        margin-left: 10% !important;
    }
    
}
@media only screen and (max-width: 850px){
    .parentServices2 {
        display: block !important;
    }
    .fa-twitter{
        margin-bottom: 6px;
    }
    .servicesDiv2 {
        margin-left: 0px !important;
        margin-top: 30px;
    }
    .parentServices p {
        font-size: 15px;
    }
    input {
        width: 90%;
    }
    textarea {
        width: 90%;
    }
}

@media only screen and (max-width: 750px){
    .navContent {
        padding-top: 45% !important;
    }
}




@media only screen and (max-width: 437px){
    .navContent h1 {
        font-size: 40px;
    }
    .navContent h5 {
        font-size: 20px;
    }
    .navContent button {
        height: 55px;
        width: 130px;
    }
    header{
        height: 600px;
    }
    .navContent {
        padding-top: 55% !important;
    }
    .portfolioDiv2 img {
        height: 270px !important;
        width: 80% !important;
    }
    .divPortfolio {
        background-color: rgba(60, 199, 143, 0.06);
        height: 2544px;
    }
}
@media only screen and (max-width: 350px){
    .navContent h1 {
        font-size: 35px;
    }
    header{
        height: 450px;
    }
    .navContent{
        padding-top: 40% !important;
    }
    .portfolioDiv2 img {
        height: 316px;
        width: 90% !important;
    }
    .navbar-brand{
        margin-left: 0%;
    }
    
}