@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: #212529 !important;
}

::-webkit-scrollbar-track {
    background-color: #212529 !important;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-color:#ffc800; 
    border-radius: 10px;
} 

header{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
}
.navigationn{
    background-color: transparent;
    transition: .3s;
    position: fixed;
    z-index: 99999999999;
    width: 100%;
}
.navbar-collapse{
    margin-left: 50%;  
}
.navbar-collapse a{
    transition: 0.5s !important;
}
.navbar-collapse a:hover{
    color: #ffc800 !important;
}
.navbar-brand{
    color: #ffc800 !important;
    font-size: 30px;
    margin-left: 10%;
}
.nav-item a{
    color: white !important;
    font-family: 'Raleway', sans-serif; 
}
.navbar-brand{
    font-family: 'Pacifico', cursive; 
}
.navContent{
    justify-content: center;
    text-align: center;
    padding-top: 17%;
}
.navContent h1{
    color: white;
    font-size: 70px;
    margin-top: 25px;
    font-family: 'Raleway', sans-serif; 
}
.navContent h5{
    color: white;
    font-size: 40px;
    font-style: italic;
}
.navContent button{
    color: white;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    border-radius: 5px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    transition: 0.5s;
    margin-top: 20px;
}
.navContent button:hover{
    background-color: #dbb013;
    border: 1px solid #dbb013;
}


/* Services */

.parentServices{
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.parentServices2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}
.parentServices2 h3{
    font-weight: bold;
    margin-top: 20px;
}
.parentServices p{
    color: #6c757d;
    font-style: italic;
}
.parentServices h1{
    font-weight: bold;
}
.servicesDiv1{
    justify-content: center;
    text-align: center;
}
.fa-cart-shopping{
    font-size: 80px;
    color: #ffc800;
}
.fa-display{
    font-size: 80px;
    color: #ffc800;
}
.fa-lock{
    font-size: 80px;
    color: #ffc800;
}
.servicesDiv2{
    margin-left: 50px;
}

/* Portfolio */

.divPortfolio{
    background-color: rgba(60, 199, 143, 0.06);
    width: 100%;
    height: 1100px;
    margin-top: 100px;
}
.portfolioDiv1{
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.portfolioDiv1 p{
    color: #6c757d;
    font-style: italic;   
}
.portfolioDiv1 h1{
    font-weight: bold;
}
.portfolioDiv2{
    justify-content: space-around;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    display: flex;
}
.portfolioDiv2 img{
    height: 300px;
    width: 100%;
    cursor: pointer;
}
.imgDivs{
    height: 100px !important;
    width: 100% !important;
    background-color: white !important;
}
.imgDivs h4{
    font-weight: bold;
    padding-top: 15px;
}
.imgDivs p{
    color: #6c757d;
    font-style: italic;
}


/* modal */



.modalParent{
    background-color: white;
    position: absolute;
    height: 650px;
    width: 900px;
    margin-top: 31%;
    border-radius: 5px;
    display: none;
    transition: 1s !important;
    box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    animation: myani 1s;
}
@keyframes myani{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
       
    }
}
.modalParent p{
    color: #6c757d;
    margin-top: 15px;
}
.modalParent h1{
    font-weight: bold;
}
.modalParent div{
    margin-top: 30px;
}
.modalParent img{
    width: 400px;
    height: 300px;
    transition: 1s;
}
.modalParent button{
    color: white;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    border-radius: 5px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    transition: 0.5s;
    /* margin-top: 20px; */
}
.modalParent button:hover{
    background-color: #dbb013;
    border: 1px solid #dbb013;
}


.modalParent2{
    background-color: white;
    position: absolute;
    height: 650px;
    width: 900px;
    margin-top: 31%;
    border-radius: 5px;
    display: none;
    transition: 1s !important;
    box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    animation: myani 1s;
}
.modalParent2 p{
    color: #6c757d;
    margin-top: 15px;
}
.modalParent2 h1{
    font-weight: bold;
}
.modalParent2 div{
    margin-top: 30px;
}
.modalParent2 img{
    width: 400px;
    height: 300px;
    transition: 1s;
}
.modalParent2 button{
    color: white;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    border-radius: 5px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    transition: 0.5s;
}
.modalParent2 button:hover{
    background-color: #dbb013;
    border: 1px solid #dbb013;
}




.modalParent3{
    background-color: white;
    position: absolute;
    height: 650px;
    width: 900px;
    margin-top: 31%;
    border-radius: 5px;
    display: none;
    transition: 1s !important;
    box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    animation: myani 1s;
}
.modalParent3 p{
    color: #6c757d;
    margin-top: 15px;
}
.modalParent3 h1{
    font-weight: bold;
}
.modalParent3 div{
    margin-top: 30px;
}
.modalParent3 img{
    width: 400px;
    height: 300px;
    transition: 1s;
}
.modalParent3 button{
    color: white;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    border-radius: 5px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    transition: 0.5s;
    /* margin-top: 20px; */
}
.modalParent3 button:hover{
    background-color: #dbb013;
    border: 1px solid #dbb013;
}




.modalParent4{
    background-color: white;
    position: absolute;
    height: 650px;
    width: 900px;
    margin-top: 31%;
    border-radius: 5px;
    display: none;
    transition: 1s !important;
    box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    animation: myani 1s;
}
.modalParent4 p{
    color: #6c757d;
    margin-top: 15px;
}
.modalParent4 h1{
    font-weight: bold;
}
.modalParent4 div{
    margin-top: 30px;
}
.modalParent4 img{
    width: 400px;
    height: 300px;
    transition: 1s;
}
.modalParent4 button{
    color: white;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    border-radius: 5px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    transition: 0.5s;
    /* margin-top: 20px; */
}
.modalParent4 button:hover{
    background-color: #dbb013;
    border: 1px solid #dbb013;
}


.modalParent5{
    background-color: white;
    position: absolute;
    height: 650px;
    width: 900px;
    margin-top: 31%;
    border-radius: 5px;
    display: none;
    transition: 1s !important;
    box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    animation: myani 1s;
}
.modalParent5 p{
    color: #6c757d;
    margin-top: 15px;
}
.modalParent5 h1{
    font-weight: bold;
}
.modalParent5 div{
    margin-top: 30px;
}
.modalParent5 img{
    width: 400px;
    height: 300px;
    transition: 1s;
}
.modalParent5 button{
    color: white;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    border-radius: 5px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    transition: 0.5s;
    /* margin-top: 20px; */
}
.modalParent5 button:hover{
    background-color: #dbb013;
    border: 1px solid #dbb013;
}


.modalParent6{
    background-color: white;
    position: absolute;
    height: 650px;
    width: 900px;
    margin-top: 31%;
    border-radius: 5px;
    display: none;
    transition: 1s !important;
    box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 17px -4px rgba(0,0,0,0.75);
    animation: myani 1s;
}
.modalParent6 p{
    color: #6c757d;
    margin-top: 15px;
}
.modalParent6 h1{
    font-weight: bold;
}
.modalParent6 div{
    margin-top: 30px;
}
.modalParent6 img{
    width: 400px;
    height: 300px;
    transition: 1s;
}
.modalParent6 button{
    color: white;
    background-color: #ffc800;
    border: 1px solid #ffc800;
    border-radius: 5px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    transition: 0.5s;
    /* margin-top: 20px; */
}
.modalParent6 button:hover{
    background-color: #dbb013;
    border: 1px solid #dbb013;
}


/* about */

.aboutParent1{
    text-align: center;
    margin-top: 50px;
}
.aboutParent1 h1{
    font-weight: bold;
}
.aboutParent1 p {
    font-style: italic;
    color: #6c757d;
}
.parentAbout2{
    justify-content: center;
    align-items: center;
    text-align: start;
    display: flex;
    margin-right: 25%;
}
.parentAbout3{
    justify-content: center;
    align-items: center;
    text-align: end;
    display: flex;
    margin-left: 27%;
    margin-top: 6%;
}
.parentAbout3 img{
    border-radius: 50%;
    width: 170px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 10px solid #e9ecef;
}
.parentAbout2 img {
    border-radius: 50%;
    width: 170px;
    margin-left: 20px;
    border: 10px solid #e9ecef;
}
.div2{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    margin-bottom: 50px;
}
.div3{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    /* margin-bottom: 50px; */
}
.div3 h3{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
} 
.div3 p{
    color: #6c757d !important;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
}
.div2 h3{
    text-align: end;
    font-weight: bold;
    font-family: 'Raleway', sans-serif; 
    
}
.div2 p{
    color: #6c757d !important;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
}
.aboutParent2{
    margin-top: 50px;
}
.line{
    height: 2px;
    width: 200px;
    transform: rotate(90deg);
    margin-top: 90px;
    background-color: #e9ecef;
}
.line2{
    height: 2px;
    width: 127px;
    transform: rotate(90deg);
    margin-top: 52px;
    background-color: #e9ecef;
}


/* Team */

.parentTeam{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(60, 199, 143, 0.06);
    margin-top: 100px;
    height: 680px;
}
.parnetTeam2{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 50px;
}
.fa-twitter{
    font-size: 30px;
    padding-right: 10px;
}
.fa-facebook{
    font-size: 30px;
    padding-right: 10px;
}
.fa-linkedin{
    font-size: 30px;
    padding-right: 10px;
}
.parnetTeam2 img{
    border-radius: 50%;
    width: 225px;
    border: 8px solid #e9ecef;
}
.teamH1{
    padding-top: 50px;
    font-weight: bold;
}
.parentTeam p{
    color: #6c757d;
    font-style: italic;
}
.sometext{
    margin-top: 50px;
}


/* footer */

.contactFooter1{
    text-align: center;
}
.contactFooter1 h1{
    font-weight: bold;
    color: white;
    padding-top: 120px;
}
.contactFooter1 p{
    font-style: italic;
    color: #6c757d;
}
.contactimg{
    background-image: url(../img/Contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
    background-color: #212529;
    margin-top: 100px;
}
.parentFooter2{
    justify-content: center;
    text-align: center;

}
input{
    width: 50%;
    padding: 1.25rem;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
}
input::placeholder{
    font-weight: bold;
    font-size: 20px;
    color: #e9ecef;
}
textarea::placeholder{
    font-weight: bold;
    font-size: 20px;
    color: #e9ecef;
}
textarea{
    width: 50%;
    padding: 1.25rem;
    margin-top: 50px;
    border-radius: 5px;
}
.butt{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sendbut{
    background-color: #ffc800;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border: 1px groove #ffc800;
    border-radius: 5px;
    height: 65px;
    width: 200px;
    transition: 0.5s;
}
.sendbut:hover{
    background-color: #dbb013;
    border: 1px groove #dbb013;
}

